@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    article p.town-article img { width: 29.333%; }

    /*-----Navigation-----*/
    nav button { display:none; }  /* hamburger button does not need to be shown */

/*-----Weather Gallery Grid-----*/
    div.weatherGallery {
        grid-template-columns: repeat(3, 32%);
    }
    div.weatherGallery figure:hover {
        box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    }
}
