/* This main css file contains the default rules and is geared toward the small/phone view */

body {
    font-size: 16px;
}

header {
    padding: .5rem 2%;
    display: flex;
    flex-flow: row wrap;
}

header h1 {
    color: #222e50;
    font-family: 'Candal', sans-serif;
    font-size: 2.3em;
    margin: 2% 0 0 .5rem;
}

.subheading {
    color: #222e50;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    margin-left: .5rem;
}

nav {
    background-color: #38aecc;
    font-family: 'Candal', sans-serif;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: flex;
    flex-flow: row wrap;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li.active a {background-color: #222e50;}
nav ul li a:hover {background-color: #79b473;}
nav ul.hide {display: none;}

main h2 {
    color: #222e50;
    font-family: 'Candal', sans-serif;
    font-size: 1.8em;
    padding: .3rem 2%;
}

main figure.myphoto { margin: 0; }
main figure.myphoto img { width: 100%; height: auto; }

section {
    font-family: 'Lato', sans-serif;
    border: 5px solid #79b473;
    border-radius: .3em;
    padding: .8rem 2%;
    margin: .8rem;
}

section h3 {
    color: #222e50;
    font-family: 'Candal', sans-serif;
    font-size: 1.7em;
    margin: 0 0 1.5% 0;
}

.current p, .conditions p {
    margin: 1% 0;
}

 .conditions {
    font-size: 1.5em;
}

.current {
    font-size: 3em;
    align-items: center;
    margin: 0 3% 0 0
}

.forecast {display: none;}

article {
    display: flex;
    flex-flow: column;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    line-height: 1.3em;
    padding: .8rem 2%;
}

article h3 {
    font-family: 'Candal', sans-serif;
    color: #222e50;
    margin: 0;
}
article h4 {
    font-family: 'lato', sans-serif;
    margin: .4% 0;
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    display: flex;
    margin: 0;
    width: 100%;
    padding: 0 0 2% 0;
}

/*----WEATHER GALLERY----*/

main.gallerystyle {
    font-family: 'Lato', sans-serif;
}

div.weatherGallery {
    padding: 0 2%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
}
div.weatherGallery figure {margin: 1rem 0;}
div.weatherGallery figure img {width: 100%;}
div.weatherGallery figure figcaption {text-align: left; font-size: 1.2rem; padding: 2% 1%;}

/*-----Storm Center Form-------*/

form#userReport {
    margin: 1em 3%;
}
fieldset {
    border-radius: .3em;
    margin: 1.5em 0;
    border: #79B473 solid 5px;
}
legend {
    font-family: "lato", sans-serif;
    font-size: 1.2em;
    color: #fff;
    padding: .5em;
    border: #222E50 solid 1px;
    background-color: #222E50;
    border-radius: .3em;
}
label {
    display: block;
    margin: .5em;
}
label span {
    font-family: "lato", sans-serif;
    display: block;
    font-size: 1.2em;
    color: #222E50;
    padding-top: .9em;
    padding-bottom: .2em;
}
input.submitBtn {
    -webkit-appearance: none; /*remove the apple mobile default styling*/
    color: #fff;
    border: solid 1px #197BBD;
    border-radius: 7px;
    margin: .5em 0;
    font-size: 1em;
    padding: .6em;
    background: #197BBD;
    font-family: "lato", sans-serif;
    font-size: 1.5em; /*old browsers*/
    box-shadow: 4px 4px 10px #222E50;
}

/*----Radio Buttons----*/
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #38AECC;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

label span.dangerAnswer {
    padding-top: .2em;
    font-size: .9em;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

/*NEW HTML5 VALIDATION*/
label input {
    background-color: #E6EBED;
    color: #222E50;
    padding: .3em .3em .3em 2em;
    border: solid 1px #222E50;
    border-radius: 5px;
    font-size: 1.2em;
    width: 90%;
    max-width: 500px;
    background-image: url(../images/ico_validation.png);
    background-repeat: no-repeat;
    background-position: 4px -11px;
}
label #rating {
    max-width: 200px;
}

/*The input that currently has the focus*/
input:focus {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5) inset;
}
/*identifies all the required fields*/
input:required {
    background-position: 4px -61px; /*shows the red star*/
}
/*Validation*/
input:focus:invalid {
    background-position: 4px -111px; /*shows the yelllow cirle*/
}
/*Valid*/
input:required:valid {
    background-color: #fff;
    background-position: 4px -161px; /*shows the green check*/
}
/*-----HOMEPAGE-----*/
#homeTowns {
    display: none;
}
#photosBelow {
    display: none;
}

h2.welcomehead {
    margin: 2% 2% 1% 0;
    color: #79B473;
    font-size: 2.3em;
}

/*-----FOOTER-----*/
footer {
    padding-top: .8rem;
}

footer aside {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    color: #fff;
    background-color: #79b473;
    text-align: center;
    padding: 1rem;
}

footer>p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: #fff;
    background-color: #79b473;
    text-align: center;
    padding: 1.6rem;
    margin: 0;
}

/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
