@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    nav button { display:none; }  /* hamburger button does not need to be shown */

    nav ul.hide {
        display: inline-flex;
    }

    nav ul {
        margin-left: 2%;
    }

    nav ul li {
        display: inline-flex;
    }

    nav ul li a {
        display: inline-flex;
        font-size: 1em;
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 2rem;
    }
/*-----10 DAY FORECAST SECTION-----*/
    section.forecast {
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
    }

    .forecast td, .forecast th {
        border: 1px solid #ddd;
    }

    .forecast tbody {
        text-align: center;
        font-size: 1.5em;
        line-height: 1.4em;
    }

    .forecast tr:hover {
        background-color:#ddd;
    }

    .forecast th {
        text-align: center;
        background-color: #197bbd;
        color: #fff;
        padding: 1.3%
    }

    .forecast td {
        padding: .8rem;
    }

    /*---Weather Gallery Grid-----*/
    div.weatherGallery {
        grid-template-columns: repeat(2, 49%);
        grid-gap: 2%;
    }
    /*-----HOMEPAGE------*/

    #homeTowns {
        background-color: #EAEAEA;
        text-align: center;
        padding: 0 2%;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        border: none;
    }

    section>article {
        background-color: white;
        border: 5px solid #79B473;
        padding: 0 15px 0 15px;
        margin: 5%;
    }

    #homeTowns h5 {
        font-family: 'Candal', sans-serif;
        font-size: 2vw;
        color: #222E50;
        margin: 5% 0 0 0;
    }

    #homeTowns h6 {
        font-family: 'lato', sans-serif;
        color: #79B473;
        font-size: 1.5vw;
        margin: 5% 0;
    }

    #homeTowns p {
        font-size: 1.5vw;
        margin: 2%;
    }

    #homeTowns ul {
        font-size: 1.5vw;
        line-height: 1.7em;
        text-align: left;
        padding-left: 15%;
        margin: 2% 10% 5% 0;
    }

    section#photosBelow {
        margin: 1rem 0;
        border: none;
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    section#photosBelow figure {margin: 0 2%;}
    section#photosBelow figure img {width: 100%;}
}
