@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    nav button { display:none; }  /* hamburger button does not need to be shown */

    section.forecast { display: inline-block; }  /* show the 10-day forecast with the medium view and up */

    article p.town-article img { width: 62.666%; float:right; }  /* responsive images */
}

    nav ul {margin-left: 2%;}

    nav ul li {
        float: left;
}

    nav ul li a {
        border: none;
        border-right: 1px solid rgba (0,0,0,0.3);
        padding: .8rem 2rem;
}

    .forecast td, .forecast th {
        border: 1px solid #ddd;
        padding: 20px;
}

    .forecast tbody {
        font-size: 1.3em;
}

    .forecast tr:hover {
        background-color: #ddd
}

    .forecast th {
        padding: 12px 15px 12px 15px;
        text-align: center;
        background-color: #197bbd;
        color: white;
}
