@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    nav button { display:none; }  /* hamburger button does not need to be shown */

    div.threeGallery {
        grid-template-columns: repeat(3, 32%);
        width: 85%;
        margin: 0 9% 5% 9%;
    }
    .customersTalk {
        display: block;
    }
    .customersTalk h3 {
        font-family: 'Asap condensed', sans-serif;
        font-style: italic;
        font-size: 3rem;
        font-weight: 800;
        text-align: center;
        color: #000;
        margin: 70px 20px 20px;
    }
    aside.reviews {
        font-family: 'Open sans', sans-serif;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-around;
        margin: 0 9% ;
        background-color: rgba(0,0,0,0.1);
        box-shadow: 5px 10px 20px #BFBFBF;
    }
    div.intro {
        margin: 5% 20vw;
    }

    /* SERVICE TABLE */
    aside {
        grid-template-columns: repeat(3, 32%);
        width: 85%;
        margin: 0 9%;
    }

    /* CONTACT PAGE */
    section.contactUs {
        display: flex;
        justify-content: center;
    }
    .contactUs div {
        margin: 20px
    }

  section#shopCenter {
        margin: 0 20vw;
    }
}
