/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

    /* HEADER */
header {
    background-color: #000;
    color: #FFF;
    padding: 10px;
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
}
header img {

}
header h1 {
    font-family: 'Asap Condensed', sans-serif;
    font-style: italic;
    font-size: 2em;
    margin: 0 10px 0 0;
}
body a {
    text-decoration: none;
}
header .subheading {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding: 0%;
    font-size: .8em;
    text-align: right;
}

    /* NAVIGATION */
nav {
    background-color: rgba(0,0,0,0.6);
    font-family: 'Open Sans', sans-serif;
}
nav button {
    margin: .7rem;
    background-color: transparent;
    border: none;
    font-size: 1.9rem;
    color: #fff;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}
nav ul li a {
    display: flex;
    flex-flow: row wrap;
    padding: .8rem 5%;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li a:hover {background-color: #EAB58A;}
nav ul li.active a {
    background-color: #D1ECFF;
    color: #000;
}
nav ul.hide {display: none;}


/* MAIN */
main figure {
    margin: 0;
}
main section#callToAction h2 {
    font-family: 'Asap Condensed', sans-serif;
    font-style: italic;
    color: #EA2309;
    position: absolute;
    margin-top: 11vw;
    margin-left: 9vw;
    font-size: 4.5vw;
}
main section#callToAction h2.h2Contrast {
    color: #fff;
}
div.blackBox {
    position: absolute;
    background-color: #000;
    padding: .6vw 2vw;
    margin-top: 23vw;
    margin-left: 9vw;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3vw;
}
.blackBox a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3vw;
}
div.whiteBox {
    position: absolute;
    background-color: #fff;
    padding: .6vw 2vw;
    margin-top: 23vw;
    margin-left: 19vw;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3vw;
}
.whiteBox a {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3vw;
}
section.intro {
    font-family: 'Open Sans', sans-serif;
    margin: 5% 9vw;
    font-size: 1.3rem;
    line-height: 2rem;
}

    /* THREE IMAGE GALLERY */
section.galleryStyle {
    font-family: 'Open Sans', sans-serif;
}
div.threeGallery {
        display: grid;
    grid-template-columns: repeat(1, 100%);
}
div.threeGallery figure img {
    width: 100%;
    position: relative;
    z-index: -1;
}
div.threeGallery figure figcaption {
    background-color: rgba(0,0,0,0.6);
    font-family: 'Asap Condensed', sans-serif;
    font-style: italic;
    color: #fff;
    text-align: center;
    font-size: 2.8rem;
    padding: 2% 1%;
    margin-top: -5rem;
    z-index: 1;
}
div.threeGallery a {
    text-decoration: none;
}
div.threeGallery ul {
    margin-left: 9vw;
    font-size: 1.5rem;
    line-height: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 25px;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
}

/* SERVICE TABLE */
section.serviceTable {
    display: flex;
}

/* BLUE LOGO */
.logo2 {
    background-color: #d1ecff;
    height: 200px;
    text-align: center;
    padding: 25px 0;
}
.logo2 img {
    max-height: 150px;
}

/* REVIEWS */
.customersTalk {
    display: none;
}

    /* FOOTER */
footer {
    background-color: #000;
}
footer section.footerLinks ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 3%;
}
footer section.footerLinks ul {
    margin: 0;
    padding: 0;
}
footer section.footerLinks ul a:hover {
    color: #EA2309;
}
footer section.footer-bar {
    background-color: #EAB58A;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 5%;
}
