@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    nav button { display:none; }  /* hamburger button does not need to be shown */

    nav ul.hide {
        display: inline-flex;
    }
    nav ul li a {
        display: inline-flex;
        font-size: 1em;
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 2rem;
    }

    /*---Photo Gallery Grid-----*/
    div.threeGallery {
        grid-template-columns: repeat(1, 49%);
        grid-gap: 2%;
        justify-content: center;
    }
    footer section.footerLinks ul li{
        display: inline-flex;
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .6rem 2rem;
    }
    footer section.footerLinks {
        text-align: center;
    }

}
