/* This main css file contains the default rules and is geared toward the small/phone view */

@import url('https://fonts.googleapis.com/css?family=Candal|Open+Sans');

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

header {}

header h1 {
    color: #222e50;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
    position: relative;
    margin: 0px;
    padding-top: 15px;
}

header img {
    float: left;
    padding: 5px;
}

header .subheading {
    color: #222e50;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    margin: 0;
    }

nav {}
nav button {}
nav ul {}
nav ul li {
    font-family: 'Candal', sans-serif;
    font-size: 1em;
}
nav ul li a {}
nav ul li.active a {background-color: #222e50;}
nav ul li a:hover {background-color: #79b473;}

main {
    padding: 0px 20px 20px 20px;
}

main h2 {
    color: #222e50;
    font-family: 'Candal', sans-serif;
    font-size: 2em;
    margin: 0 0 0 15px;
    padding: 10px;
}

main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; max-height: 100%;}

section {
    font-family: 'Lato', sans-serif;
    padding: 15px;
    border: 5px solid #79b473;
    margin: 20px;
}

section h3 {
    color: #222e50;
    font-family: 'Candal', sans-serif;
    font-size: 1.5em;
    margin: 10px;
}

.highlow, .conditions {
    display: flex;
    flex-flow: column;
    font-size: 1.5em;
}

.current {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.highlow p, .conditions p, .current {
    margin: 10px;

}
.forecast { display: none; }

article {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    margin: 20px;
    line-height: 1.3em;
    overflow: auto;
}

article h3 {
    font-family: 'Candal', sans-serif;
    color: #222e50;
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    float: right;
    width: 100%; /* fill the page in the small/phone view */
    padding: 15px;
}

footer {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    color: white;
    background-color: #79b473;
    text-align: center;
}

footer aside {}
footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
