@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    section.forecast {
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        width: 100%vh;
    }  /* show the 10-day forecast with the medium view and up */

    .forecast td, .forecast th {
        border: 1px solid #ddd;
        font-size: 1.3em;
    }

    .forecast tbody {
        text-align: center;
        font-size: 1.5em;
    }

    .forecast tr:hover {
        background-color:#ddd;
    }

    .forecast th {
        text-align: center;
        background-color: #197bbd;
        color: #fff;
        padding: 1.3%
    }

    .forecast td {
        padding: .8rem;
    }

    article p.town-article img {}  /* responsive images */

    /*---Weather Gallery Grid-----*/
    div.weatherGallery {
        grid-template-columns: 400px 400px;
        grid-gap: 2%;
    }

}
